*{
    margin:  auto;
    padding: 0px;
}


#cabecalho, #rodape{
   width: 700px;
   height: 150px;
   background-color: aqua;

}

#corpo {
   width: 700px;
   height: 600px;
   background-color:

}

#menu-superior {
   width: 700px;
   height: 40px;
   background-color: brown;


}

    #rodape {
        width: 700px;
        height: 40px;
        background-color: black;
}

